<div class="row">
    <div class="offset-md-2 col-md-8">
        <div class="text-center">Number of items in cart:  {{cart.garments.length}}</div>

        <div>Cart items:</div>
        <div class="ml-3">
            <div class="row">
            {{#unless cart}}
                Your cart is empty
            {{/unless}}
                {{#if cart}}
                {{#each cart.garments}}
                    <div class="col-12">
                        <div class="mb-3">
                            <div><img class="featured-image" src="/garment-images/{{this.garment.image}}" width="100%"
                                      style="max-width: 200px" alt="{{this.garment.name}}"></div>
                            <div>{{this.garment.name}}</div>
                            <div>Price per item: ${{this.garment.price}} </div>
                            <div>
                                <input value="{{this.quantity}}" type="number" step="1" id="quantity_{{this.garment._id}}"
                                       name="quantity_{{this.garment._id}}">
                                <button class="btn btn-secondary btn-sm btn-update-quantity" data-garment="{{this.garment._id}}">Update Quantity</button>
                            </div>
                            <button class=" btn btn-primary btn-remove-from-cart" data-garment="{{this.garment._id}}">Remove from cart</button>
                        </div>
                    </div>
                {{/each }}
                {{/if}}
            </div>
        </div>

        <div class="mt-5 mb-5">
            <button id="btnEmptyCart">Empty Cart</button>
        </div>

        <div>Cart Sub Total: ${{cartTotals.subTotal}}</div>
        <div>Taxes Payable: ${{cartTotals.taxes}}</div>
        <div>Cart Total: ${{cartTotals.total}}</div>
        <div>
            Calculate Tax:
            <input value="{{cart.zipCode}}" id="zipCode" type="text" placeholder="Zip Code">
            <button id="addZipCode">Calculate</button>
        </div>
    </div>
</div>