<main>
    <div>
        <div>
            <div>
                <h2 class="text-center text-lg">Customer Favorites</h2>
                <div class="row">
                    {{#each customerFavourites}}
                        <div class="col-12 col-md-4">
                            <div class="mb-5">
                            <div><img class="featured-image" src="./garment-images/{{this.garment.image}}"
                                      alt="{{this.garment.name}}" width="100%" style="max-width: 200px"></div>
                            <div>{{this.garment.name}}</div>
                            <button class=" btn btn-primary btn-add-to-cart" data-garment="{{this.garment._id}}">Add to
                                cart
                            </button>
                            </div>
                        </div>
                    {{/each }}
                </div>

                <h2 class="text-center text-lg">New Releases </h2>
                <div class="row">
                    {{#each newReleases}}
                        <div class="col-12 col-md-4">
                            <div class="mb-5">
                                <div><img class="featured-image" src="./garment-images/{{this.garment.image}}"
                                          alt="{{this.garment.name}}" width="100%" style="max-width: 200px"></div>
                                <div>{{this.garment.name}}</div>
                                <button class=" btn btn-primary btn-add-to-cart" data-garment="{{this.garment._id}}">Add to
                                    cart
                                </button>
                            </div>
                        </div>
                    {{/each }}
                </div>
            </div>
        </div>
    </div>
</main>
